<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title th:text="|Index of ${path}|" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
  <h1 th:text="|Index of ${path}|" />
  <table>
    <tr>
      <th valign="top"><img th:src="|${servletContextPath}/web-resources/icons/blank.gif|" alt="[ICO]"></th>
      <th>Name</th>
      <th>Last modified</th>
      <th>Size</th>
    </tr>
    <tr>
      <th colspan="4">
        <hr>
      </th>
    </tr>
    <tr th:each="file: ${files}">
      <td valign="top"><img th:src="|${servletContextPath}/web-resources/icons/${file.img}.gif|" th:alt="|[${file.alt}]|"></td>
      <td><a th:href="|${servletContextPath}/${file.path}|" th:text="|${file.name}|" /></td>
      <td align="right" th:text="|${file.lastModified}|" />
      <td align="right" th:text="|${file.size}|" />
    </tr>
    <tr>
      <th colspan="4">
        <hr>
      </th>
    </tr>
  </table>
</body>
</html>